<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Student</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Student Created</h1>
First Name: <!--/*@thymesVar id="firstName" type="com"*/-->
<span th:text="${firstName}"></span>
<br/>
LastName: <!--/*@thymesVar id="lastName" type="com"*/-->
<span th:text="${lastName}"></span>
<br/>
Grade:
<!--/*@thymesVar id="grade" type="com"*/-->
<span th:text="${grade}"></span>
</body>
</html>
